* {
    box-sizing: border-box;
    text-align: justify;
  }

body {
    background-image: url("https://app.meetsoci.com/uploads/account/1585/sqUDY-2MP2M.png");
    background-repeat: repeat;
    background-position: right top;
    background-attachment: fixed;
}

section {
    width: 960px;
    background-color: white;
    border-color: #dddddd;
    border-width: 2px;
    border-style: solid;
    text-overflow: clip;
    font-family: lucida grande;
    color: #666666;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
}


.header1 {
        background: white;
        top: 0;
        height: 80px;
        width: 150%;
        position: fixed;
        z-index: 1;
        left: 0;
        right: 0;
}

header {
    background: #4aaaa5;
    font-family: georgia;
    font-size: 40px;
    color: white;
    position: fixed;
    margin-top:40px;
    margin-left: 100px;
}

a:link {
    color: #666666;
    text-decoration: none;
}

a:visited {
    color: #666666;
    text-decoration: none;
}

a:hover {
    color: #4aaaa5;
    text-decoration: none;
}

a:active {
    color: #666666;
    text-decoration: none;
}

.nav {
    font-family: arial;
    color: #666666;
    text-decoration: none;
    padding-left: 960px;
    padding-top: 40px;
}
  
.img1 {
    float:left;
    margin-right: 15px;
}

.container {
    position: relative;
    text-align: justify;
    color: white;
}

.img01 {
    border: none;
    position: relative;
    float: left;
}

.text {
    color: white;
    background-color: #4aaaa5;
    font-family: georgia;
    display: inline;
    width: 400px;
    position: relative;
}

.footer {
    background: #666666;
    bottom: 0;
    height: 80px;
    left: 0;
    right: 0;
    margin-top: 30px;
    position: static;
}

.footer1 {
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left:400px;
    margin-right: 400px;
}
